
.block {
   position: relative;
//    margin: 0 auto;

&--create-personal {
    width: 50rem;
    height: 20rem;

    padding-top: 7rem;
    background-color: #61429E;

    &__once {
        width: 10rem;
        height: 8rem;

        padding-bottom: 4rem;
    }
}
}